In [5]:
import pandas as pd 
import yfinance as yf

In [14]:
data = yf.download(['ROG.SW', 'CFR.SW', 'ZURN.SW'], start='2019-07-19')

[*********************100%***********************]  3 of 3 completed

In [2]:
ticker = ['rog', 'cfr', 'zurn', 'rog_ivol', 'cfr_ivol', 'zurn_ivol', 'risk-free']

In [1]:
for t in ticker:
    pd.read_excel('../data/mh4518 updated data.xlsx', t).to_csv(f'../data/long_{t}.csv', index=None)

NameError: name 'ticker' is not defined

In [16]:
data.head()

Price                      Adj Close                              Close  \
Ticker                        CFR.SW      ROG.SW     ZURN.SW     CFR.SW
Date
2019-07-19 00:00:00+00:00  76.119804  224.475647  265.548859  85.540001
2019-07-22 00:00:00+00:00  76.333374  224.518082  264.027069  85.779999
2019-07-23 00:00:00+00:00  76.813911  223.966721  264.940186  86.320000
2019-07-24 00:00:00+00:00  76.475761  223.754684  264.864105  85.940002
2019-07-25 00:00:00+00:00  76.386765  224.221207  265.396698  85.839996

Price                                                   High              \
Ticker                         ROG.SW     ZURN.SW     CFR.SW      ROG.SW
Date
2019-07-19 00:00:00+00:00  264.649994  349.000000  87.440002  271.549988
2019-07-22 00:00:00+00:00  264.700012  347.000000  86.220001  265.799988
2019-07-23 00:00:00+00:00  264.049988  348.200012  86.599998  266.049988
2019-07-24 00:00:00+00:00  263.799988  348.100006  86.500000  266.950012
2019-07-25 00:00:00+00:00  264.350006  348.799988  86.559998  270.600006

Price                                        Low                          \
Ticker                        ZURN.SW     CFR.SW      ROG.SW     ZURN.SW
Date
2019-07-19 00:00:00+00:00  350.299988  85.139999  262.850006  347.100006
2019-07-22 00:00:00+00:00  349.200012  85.120003  263.500000  345.799988
2019-07-23 00:00:00+00:00  349.899994  85.639999  262.850006  347.700012
2019-07-24 00:00:00+00:00  349.799988  85.139999  263.700012  347.500000
2019-07-25 00:00:00+00:00  353.000000  84.940002  263.450012  347.500000

Price                           Open                           Volume  \
Ticker                        CFR.SW      ROG.SW     ZURN.SW   CFR.SW
Date
2019-07-19 00:00:00+00:00  86.660004  271.200012  350.000000  1804005
2019-07-22 00:00:00+00:00  85.519997  265.399994  349.100006  1359588
2019-07-23 00:00:00+00:00  86.320000  264.649994  348.299988  1848374
2019-07-24 00:00:00+00:00  86.500000  265.000000  348.299988  1775604
2019-07-25 00:00:00+00:00  86.000000  267.450012  347.700012  2070317

Price
Ticker                      ROG.SW ZURN.SW
Date
2019-07-19 00:00:00+00:00  2583116  685825
2019-07-22 00:00:00+00:00  1339653  492722
2019-07-23 00:00:00+00:00  1519816  414749
2019-07-24 00:00:00+00:00  1698279  510746
2019-07-25 00:00:00+00:00  2732669  621513

In [11]:
initial_date = '2023-09-04'
payment_date = '2023-09-11'
last_trade_date = '2024-12-06'

In [25]:
interest_date = ['2023-12-11', '2024-03-11', '2024-06-11', '2024-09-11', '2024-12-11']

In [26]:
additive_interest = 1.75

In [30]:
1 * (1 + interest_amount_percent / 100) ** 5

1.093835935994203